$button-bg-color: #d97d3b;
$button-text-color: #ffffff;
$primary-font: "Arial", sans-serif;

.fixed-enter-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: $button-bg-color;
  color: $button-text-color;
  border: none;
  padding: 20px 12px;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken($button-bg-color, 8%);
  }

  .enter-icon {
    font-size: 1.5rem;
  }

  .enter-text {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1rem;
    transform: rotate(180deg);
    color: #ffffff;
    writing-mode: vertical-rl;
  }
}

.question-mark {
  position: fixed;
  right: 0;
  top: 60%;
  z-index: 10006;
  color: white;
  border: 1px solid $button-text-color;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
