.lucky-draw-slider {
  padding: 2rem 1rem;
  position: relative;
  width: 90%;
  margin: auto;
  overflow: visible;


  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: white;
    font-size: 2rem;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
  }

  .custom-swiper-button-prev {
    left: -2rem;
  }

  .custom-swiper-button-next {
    right: -2rem;
  }

  .draw-card {
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    color: white;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &:hover {
     transform: scale(1.1);
    transition: transform 0.5s ease;

    }

    &-content {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .top-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 14px 14px 0 0;
    padding: 0.5rem 1rem;

    span {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.9);
    }

    .progress-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .details {
    border-radius: 2px;
    background: rgba(96, 94, 105, 0.30);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px); // for Safari
    text-align: center;
    padding: 2px;
    margin: auto;

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin: 150px 16px 0 16px;

    .draw-button {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-style: normal;
      /* Medium is typically handled by font-weight */
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      width: 120px;
      height: 38px;
      border-radius: 40px;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      opacity: 1;
      cursor: pointer;

    }

    .draw-button.locked::before {
      content: "";
      background-image: url('/images/lock-1.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 16px;
    }


    .buy-button {
      background: #f26a1b;
      color: white;
      border-radius: 9999px;
      padding: 0.4rem 1.2rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.lucky-draw {
  &__button {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #EA6B1E;
    padding: 16px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    line-height: 100%;

    &:hover {
      background: linear-gradient(to right, #f26a1b, #8e0038);
    }

    &-icon {
      margin-right: 4px;
      font-size: 12px;
      transform: rotate(-45deg);
      transition: transform 0.3s ease;
    }

    &:hover .lucky-draw__button-icon {
      transform: rotate(0deg);
    }
  }
}