$container-bg: #362f2a;
$text-color: #fef6e4;
$button-bg: #d97d3b;
$button-text-color: #ffffff;
$input-bg: #ffffff;
$border-glow-color: #f7e8d6;
$primary-font: "Arial", sans-serif;

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $container-bg;
  padding: 24px 36px;
  border-radius: 40px;
  font-family: $primary-font;
  box-shadow: 0 0 12px 4px rgba(250, 232, 213, 0.4);
  max-width: 900px;
  margin: 160px auto;
  margin-top: 0;
  flex-wrap: wrap;
  gap: 20px;
}

.text-content {
  color: $text-color;
  flex: 1;
  width: 50%;

  h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #ffd48e;
  }

  p {
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Zurich Extra Black', sans-serif
  }
}

.subscribe-form {
  width: 50%;
  position: relative;

  input[type="email"] {
    background-color: $input-bg;
    border: none;
    padding: 16px 20px;
    font-size: 1rem;
    border-radius: 30px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  button[type="submit"] {
    position: absolute;
    right: 0;
    background-color: $button-bg;
    color: $button-text-color;
    border: none;
    padding: 16px 28px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($button-bg, 8%);
    }
  }
}
