.ecommerce-layout {
  min-height: 100vh;
  background: #fffdf2;
  padding: 32px 16px;

  .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header-component {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-title {
      font-size: 44px;
      font-weight: bold;
      color: #3b322b;
      margin: 0;
    }

    p.main-subtitle {
      color: #3B322B;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 20px;
      margin: 0;
    }

    &-button {
      border-radius: 9999px;
    }
  }

  .products-section {
    position: relative;

    .products-swiper {
      .swiper-pagination {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 36px;
      }

      .swiper-pagination-bullet {
        background: #fb923c;
        width: 8px;
        height: 8px;
      }

      .swiper-pagination-bullet-active {
        background: #fb923c;
        opacity: 1;
      }

      .swiper-button-next,
      .swiper-button-prev {
        color: #fb923c;
        font-size: 20px;
      }
    }
  }

  .featured-slide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-arrows {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;

    .prev-arrow,
    .next-arrow {
      background: #a1a1a1;
      border-radius: 50%;
      padding: 8px;
    }

    .prev-arrow {
      .arrow {
        position: relative;
        left: 4px;
      }
    }

    .arrow {
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: #fffdf2 0.3s;
    }
  }

  .featured-section {
    margin: 16px 0;

    .featured-banner {
      border-radius: 48px;
      position: relative;
      overflow: hidden;
      background: linear-gradient(135deg, #1c1917, #292524);
      padding: 32px;
      height: 256px;
      display: flex;
      align-items: center;
      box-shadow: 0 4px 20px -2px rgba(34, 42, 53, 0.08);
      transition: all 0.3s ease;

      .banner-image {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        width: 192px;
        height: 128px;
        overflow: hidden;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .banner-content {
      max-width: 80%;

      h2 {
        font-size: 32px;
      font-family: 'Zurich Extra Black', sans-serif
      }
    }
  }

  .news-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;

    .news-carousel-main {
      .news-section {
        margin-bottom: 0;
      }
    }

    & .news-header {
      text-align: center;

      .news-title {
        font-size: 44px;
        font-weight: bold;
        color: #3B322B;
        margin-bottom: 8px;
        font-family: 'Zurich Extra Black', sans-serif
      }

      .news-subtitle {
        color: #3B322B;
        margin: 0;
        font-size: 20px;
      }
    }

    & .news-carousel {
      position: relative;

      .news-swiper {
        .swiper-pagination-bullet {
          background: #1e293b;
          width: 8px;
          height: 8px;
        }

        .swiper-pagination-bullet-active {
          background: #1e293b;
          opacity: 1;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #1e293b;
          font-size: 20px;
        }
      }
    }

    & .news-footer {
      text-align: center;

      .view-more-button {
        border-radius: 9999px;
      }
    }
  }
}

.products-nav,
.news-nav {
  background: #a1a1a1;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.products-nav.custom-swiper-button-prev,
.news-nav.custom-swiper-button-prev {
  left: -48px;
  padding: 6px;
  .back-arrow {
    position: relative;
    left: 4px;
  }
}

.products-nav.custom-swiper-button-next,
.news-nav.custom-swiper-button-next {
  right: -48px;
  padding: 6px;
}
