.campaign-carousel {
  position: relative;
  padding: 2rem;
  background: #f9f5ec;
  border-radius: 2rem;
  overflow: hidden;
  text-align: center;

&__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 60px;
  background: 
    linear-gradient(
      0deg, 
      rgba(0, 0, 0, 0.4) 0%, 
      rgba(0, 0, 0, 0.4) 100%
    ), 
    url("/images/landingpage/upcoming-villa-bg.jpg") lightgray 0px -47.656px / 100% 152.054% no-repeat;
  background-position: center;
  background-size: cover;
}


  &__title {
    position: relative;
    z-index: 1;
    font-size: 52px;
    font-weight: 900;
    font-family: zurich extra black;
    color: #fff;
    letter-spacing: -2%;
  }

  &__subtitle {
    position: relative;
    font-family: Neue Haas Unica Pro;
    font-weight: 700;
    z-index: 1;
    font-size: 22px;
    color: #fff;
  }

  &__swiper {
    position: relative;
    z-index: 1;
    padding: 2rem 0;
    padding-bottom: 0;
  }
}

.campaign-card {
  background: 
    linear-gradient(
      0deg, 
      rgba(0, 0, 0, 0.1) 0%, 
      rgba(0, 0, 0, 0.1) 100%
    ), 
    rgba(101, 101, 101, 0.15);
  backdrop-filter: blur(35px);
  border-radius: 80px;
  padding: 2rem 48px;
  font-family: poppins;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);


  &__button {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #EA6B1E;
     font-family: poppins;
    padding: 16px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    
    &:hover {
      background: linear-gradient(to right, #f26a1b, #8e0038);
    }

    &-icon {
      margin-right: 4px;
      font-size: 16px;
      transform: rotate(-45deg);
      transition: transform 0.3s ease;
       font-family: poppins;
    }

    &:hover .campaign-card__button-icon {
      transform: rotate(0deg);
    }
  }

  &__content {
    text-align: left;
    max-width: 80%;

    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px;
      font-family: "Zurich Extra Black" ;
    }

    p {
      font-size: 1rem;
      line-height: 1.2;
      opacity: 1;
      color: white;
    }
  }

  &__description {
    color: #ffffff;
    max-width: 60%;
    opacity: 0.6;
  }

  &__cta {
    background: #f37022;
    color: #fff;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.campaign-carousel__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 6rem;
  pointer-events: none;

  .arrow {
    background: #6a609a;
    opacity: 0.7;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    pointer-events: all;
    transition: background 0.3s ease;

    .left-arrow,
    .right-arrow {
      font-size: 24px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }

    &--left {
      margin-left: 3rem;
    }

    &--right {
      margin-right: 3rem;
    }
  }
}
