.promo-section-container {
  background-color: #fffdf2;
}

.relative {
  position: relative;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  // transform: translateY(-50%);
  z-index: 10;
  // background: rgba(0, 0, 0, 0.5);
  // color: white;
  // font-size: 2rem;
  // border-radius: 9999px;
  // padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}

.disabled-cursor {
  cursor: not-allowed !important;
  // opacity: 0.5;
  pointer-events: none;
}

.custom-swiper-button-prev {
  left: 2rem;
  z-index: 999;
}

.custom-swiper-button-next {
  right: 2rem;
  z-index: 999;
}

.promo-section {
  font-family: "Zurich Extra Black";
  max-width: 1200px;
  margin: 0 auto;
  color: #333;

  .deadline-notice p div {
    font-family: "Zurich Extra Black";
    line-height: 100%;
  
  }

  .promo-header {
    text-align: center;
    margin-bottom: 2rem;

    .promo-header__title {
      font-size: 48px;
      color: #3b322b;
      margin-top: 40px;
      font-weight: 900;
      font-family: "Zurich Extra Black";
      line-height: 46px;
      letter-spacing: -0.02em;
    }

    .promo-heading {
      color: #3b322b;
      font-weight: 900;
      margin-top: 40px;
      max-width: 500px;
    }

    h1 {
      font-size: 2.5rem;
      color: #d4af37;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    .featured-in {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      span {
        color: #3b322b;
        font-size: 14px;
        font-family: poppins;
        font-weight: 400;
      }

      .publications {
        display: flex;
        justify-content: center;
        gap: 2rem;

        span {
          font-weight: bold;
          font-style: normal;
        }

        .indian-today {
          color: #cc0000;
        }
      }
    }
  }

  .promo-content {
    // background-color: #f9f9f9;
    // padding: 2rem;
    // border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .tagline {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      color: #3b322b;
      //   text-align: center;
    }

    .call-to-action {
      font-size: 16px;
      font-family: poppins;
      font-weight: 600;
      ;
      //   text-align: center;
      margin-top: 20px;
      margin-bottom: 1rem;
      color: #3b322b;
    }

    .features-title {
      color: #3B322B;
    }

    .features {
      margin-bottom: 2.5rem;

      &__button {
        width: 150px;
        height: 44px;
        display: flex;
        align-items: center;
        gap: 6px;
        opacity: 1;
        border-radius: 20px;
        padding: 12.01px 20.01px;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 700;
        line-height: 20px;
        color: #ffffff;
        background-color: #EA6B1E;
        border: none;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to right, #f26a1b, #8e0038);
        }

        &-icon {
          margin-right: 3px;
          font-size: 16px;
          transform: rotate(-45deg);
          transition: transform 0.3s ease;
        }

        &:hover .features__button-icon {
          transform: rotate(0deg);
        }
      }

      &-title {
        font-weight: 400;
        margin-bottom: 2.3rem;
        font-family: poppins;
        line-height: 22px;
        font-size: 16px;

      }

      div {
        p {
          span {
            color: #3b322b;
          }
        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          position: relative;
          padding-left: 1.5rem;
          margin-bottom: 0.5rem;
          font-family: 'Poppins';
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          /* Match text size for proper alignment */
          color: #3b322b;

          &::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0.1rem;
            /* slight nudge down for visual centering */
            color: #3b322b;
            font-size: 1rem;
            /* match font size more closely */
            line-height: 1;
          }
        }

      }
    }

    .cta-banner {
      background-color: #d4af37;
      color: white;
      padding: 1.5rem;
      border-radius: 8px;
      text-align: center;
      margin-top: 2rem;

      p {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      .enter-button {
        background-color: #333;
        color: white;
        border: none;
        padding: 0.8rem 2rem;
        font-size: 1.1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #555;
          transform: translateY(-2px);
        }
      }
    }
  }

  .deadline-notice {
    text-align: center;
    margin: 2rem 0;
    color: #3b322b;

    p {
      font-size: 36px;
      letter-spacing: -2%;
      line-height: 36px;
      font-weight: 900;
      color: #3b322b;
   font-family: "Zurich Extra Black";
    }

    div {
      font-size: 44px;
        letter-spacing: -2%;
      font-weight: 900;
    font-family: "Zurich Extra Black";
    margin-top: 5px;
       
    }
  }

  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;

    .benefit-card {
      background-color: #f1ede9;
      padding: 1.5rem;
      border-radius: 12px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      //   border-top: 4px solid #d4af37;

      h3 {
        color: #000000;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 600;
      }

      p {
        line-height: 1.6;
        font-size: 13px;
        font-weight: 400;
        color: #000000;
      }
    }
  }

  .rounded-20 {
    border-radius: 20px;
  }
}

.property-details-overlay {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0.5rem;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.promo-slider-arrow {
  position: relative;

  .promo-prev-arrow,
  .promo-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
  }

  .promo-prev-arrow {
    left: 17px;
  }

  .promo-next-arrow {
    right: 17px;
  }
}

.property-plan {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  button {
    background: transparent;
    color: white;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #ffffff;

    &.active {
      background: #3b322b;
      border: none;
    }
  }
}

.feature-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #fdfaf1;
}

.feature-card {
  position: relative;
  width: 200px;
  height: 250px;
  background: #f4efea;
  border-radius: 24px;
  transition: width 0.1s ease;
  overflow: hidden;
  cursor: pointer;

  .feature-card__inner {
    position: relative;
    z-index: 1;
    // padding: 1.5rem 1rem;
    text-align: center;
    transition: all 0.4s ease;
  }

  .feature-card__icon {
    background-color: #ffe3d0;
    border-radius: 50%;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
    transition: all 0.3s ease;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .feature-card__title {
    font-weight: 700;
    font-family: poppins;
    font-size: 20px;
    color: #2d1c10;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
  }

  .feature-card__description {
    opacity: 0;
    transform: translateX(20px);
    max-height: 0;
    text-align: center;
    // overflow: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease;
    color: white;
    margin-top: 0.5rem;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &.active {
    width: 900px;
    background-color: #3b322b;
    // animation: shaky-sideways 0.6s ease;

    .feature-card__inner {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5px;
    }

    .feature-card__icon {
      background-color: #fdd9c3;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .feature-card__title {
      color: white;
      font-weight: 700;
    font-family: poppins;
    font-size: 20px;
    }

    .feature-card__description {
      opacity: 1;
      transform: translateX(0);
      max-height: 100px;
    }
  }
}

@keyframes shaky-sideways {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-5px);
  }

  30% {
    transform: translateX(5px);
  }

  45% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-2px);
  }

  90% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .promo-section {
    padding: 1rem;

    .promo-header h1 {
      font-size: 2rem;
    }

    .promo-content {
      padding: 1.5rem;
    }

    .benefits-grid {
      grid-template-columns: 1fr;
    }
  }
}